
/*************************/
/*for all pages*/
/*************************/
body {
            padding-top: 10px;
            padding-bottom: 40px;
            padding-left: 40px;
            padding-right: 40px;
            max-width: 1100px;
            margin-left: auto;
            margin-right:auto;
                        
      }

/*have all components within 1100 px*/
.container-fluid {
max-width: 1100px;
padding-left: 0px;
padding-right: 0px;
}
.bodyContainer {
max-width: 1072px;
padding-left: 10px;
padding-right: 10px;
margin-left: 20px;
margin-right: 20px;
}

/*needs reset, this is 0 0 10 in bootstrap.css*/
p {
  margin: 0 0 0 0;
}

.containerLeftMargin {
margin-left: -30px;
}


/*************************/
/*for Layout and Nav Bar*/
/*************************/
.top_of_page{
   width:auto;
}

.logomynd {
    width: 80px;
    height: 120px;
    padding-bottom: 1px;
}

.logoff{
    float: right;
    padding-top: 60px;
    margin-bottom: 2px;  
}

/*padding for nav tabs*/
.navbar .nav > li > a  {
        padding: 5px 27px;
    }
.navOffset{
    padding-left:0px;
    padding-right:0px;
}
.navbar-inverse .nav > li > a {  
        font-weight: bold; 
        font-size: 18px;
}
.navbaradjustment{
    padding-top: 6px;
    padding-left: 8px;
}

/*Heading on frontpage*/
.span7  > h2{
    margin: 30px 10px;
    font-family: Adobe Fangsong Std;
}
.span{
    margin: 0;
    
}



/*************************/
/*for Home Page*/
/*************************/
.carousel inner, img{
    border-radius: 4px;
}

#myCarousel{
    max-width: 1100px;
    margin-left:-30px;
}




/*************************/
/*for Database tab (Search dog)*/
/*************************/

/*to align search box and text in dogs*/
.alignSearch form p input{
    margin-bottom: 10px;
}

input.search-query{
    border-radius: 6px;
}




/*************************/
/*for Details Page in DOGS*/
/*************************/

.pedigree /*for lower part of Details page*/
{
    margin-top: 25px;
    padding-top: 25px;
    background-color:#f2f2f2;
    padding-bottom: 25px;
    border-radius: 5px;
}
.pedPhoto { /*within pedigree*/
    max-width: 160px;
    height: 120px;
    padding-top:3px;
    padding-bottom: 1px;
}

.dogPic { /*top of Details page*/
        max-width: 380px;
        max-height: 280px;     
        border-radius: 5px; 
        padding: 20px;
}

/*Adjustments for upper part of details*/
.dogTitle{
        text-shadow: 1px 2px #d3d3d3;
        color: #1a3362;
        padding-left: 20px;
}
.doglist{
    font-size: 16px;
 }
.doglist dt{
    text-align:left;
    padding-left: 20px;
    line-height: 25px;
}
.doglist dd{
    line-height: 25px;
}
.dog-details{
    padding: 15px;   
    background-color:#f2f2f2;
    border-radius: 5px;
}


/* left tabs*/
.bs-sidebar .nav > .active > ul {
    display: block;
    margin-bottom: 8px;
   }
.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
color: #fff;
background-color: #1a3362;
}


/*************************/
/*for Admin navbar*/
/*************************/

.nav admin { 
    
    padding-top:3px;
    padding-bottom: 1px;
    margin: 20px;
}



/*STILL TO CLEAN UP*/
/*Adjustments to p on thumbnails on Home*/
.span4 > p{
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}
.span4 > h3{
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}
/*Adjustments Dog Detail thumbnail on Home*/
.thumbnail > img     {
         float:left;
         margin-left: 10px;
         margin-top: 10px;
         margin-bottom: 10px;
    }

.ThumbnailPopularDogs    {
        margin: 15px;
        }

.ThumbnailPopularDogs .img    {
        margin-bottom: 15px;
        }








