*{
	font-family:PT Serif Caption;
    margin: 0;
    padding: 0;
}
body
{
    background-color: #e4e0e0;
}
.logomynd
{
	height:120px;
	margin-top:40px;
	margin-left:8px;
	margin-bottom:48px;
}
#header2
{
	float:right;
	margin-top: -220px;
	margin-right: 110px;
    background-position: 10px 10px;
}
.ui-menu 
{
	float: left;
    width:150px;

    font:bolder;
	color: black;
	margin-top: 70px;
	text-align: left;
	margin-left: 0px;
	background-position: 10px 10px;
    border: none;
}
.ui-menu1
{
	float: left;
    width:150px;

    font:bolder;
	color: black;
	margin-top: 70px;
	text-align: left;
	margin-left: 0px;
	background-position: 10px 10px;
    border: none;
}

#content
{
		margin-left: 300px;
		font-family: PT Serif Caption;
}
.midjaH
{
	font-family:HelveticaNeueLT Std Ext;
    color:black;
}
#frettnr1
{
	border: 2px solid #3B3D3D;
	margin-right: 200px;
	height:170px;
	background-color: #D9D9D9;
}
   
.frett1
{
	background-color:#8FB1B5;
	color: black;
	margin-top: 0px;
	margin-left: 0px;
	text-indent: 10px;
}
.dags1
{
	font-size: 10pt;
    margin: -2px 9px 0px 0px;
	text-align: right;
    font-style:italic;
}
.mynd1
{
    width: 80px;
	height: 100px;
	margin-left: 10px;
	margin-top: -5px;
}

.texti1
{
	font-size: 10pt;
	margin-top: -110px;
	margin-left: 95px;
	margin-right: 10px;
	
}

#frettnr2
{	
	border: 3px solid #3B3D3D;
	margin-right: 200px;
	margin-top: 30px;
	height:170px;
    background-color:#D9D9D9;
}

.frett2
{
	color: black;
	margin-top: 0px;
	margin-left: 0px;
	text-indent: 10px;
    background-color:#8FB1B5;
}

.dags2
{
	font-size: 10pt;
	margin: 0px 9px 5px 0px;
	text-align: right;
    font-style:italic;
}

.mynd2
{
	width: 80px;
	height: 100px;
	margin-left: 10px;
	margin-top: -5px;
}

.texti2
{
	font-size: 10pt;
	font-size: 10pt;
	margin-top: -110px;
	margin-left: 95px;
	margin-right: 10px;
}

a:link
{
    display:block;
	margin-right:10px;
	color:black;
	list-style-type: none;
	background-color: #e62424;
	text-indent: 10px;
	margin-right:10px;
	border-bottom:1px solid #517478;
	padding:5px;
	text-decoration:none;
}

a:hover
{
	background-color:#0d93f8;
	display:block;
	margin-right:10px;
	color:black;
	list-style-type: none;
	text-indent: 10px;
	margin-right:10px;
	border-bottom:double solid #517478;
	padding:5px;
	text-decoration:none;
}

a:active
{
   	display:block;
	margin-right:10px;
	color:black;
	list-style-type: none;
	text-indent: 10px;
	margin-right:10px;
	border-bottom:1px solid #e62424;
	padding:5px;
	text-decoration:none;
}
#log
{
    width:280px;
	background-color:black;
	color: white;
    background-position: 10px 10px;
    
}
#footer
{
	margin-top: 80px;
	margin-right:300px;
}

.botn
{
	font-size: 10pt;
	padding-bottom:40px;
	padding-top:10px;
	text-align:center;
	margin-left:300px;
    color:#797A7A;
}

.midjubotn
{
    font-family:HelveticaNeueLT Std Ext;
    font-size:16pt;
	color:#394142;
    padding-bottom:10px;
	padding-top:10px;
	text-align:center;
	margin-left:300px;  
   
}
.styleTable { border-collapse: separate; }
.styleTable TD { font-weight: normal !important; padding: .4em; border-top-width: 0px !important; }
.styleTable TH { text-align: center; padding: .8em .4em; }
.styleTable TD.first, .styleTable TH.first { border-left-width: 0px !important; }
