.validation-summary-errors ul
{
    list-style-type: none;
}


.field-validation-error {
    color: #f00 !important;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00 !important;
    background-color: #fee !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


label.valid
{
    width: 24px;
    height: 24px;
    background: url(../Images/isic/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}
label.error
{
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
