@model ISIC_DATA.Models.TestMateViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Inbreeding information</h3>
</div>

<div style="padding: 15px; font-size: 12.5px">
<h5>What is inbreeding?</h5>
<p>Inbreeding occurs when a dog has one or more common ancestors. A common ancestor is one that is present on both sides of the pedigree.
There can be one or more common ancestors for the same mate. 
The degree of inbreeding is usually expressed with a formula first derived by the American geneticist Sewall Wright 
early in the 20th century with the symbol F traditionally used to represent the coefficient of inbreeding. <br>

This is the Wright's Coefficient of Inbreeding formula, which we use in our calculation: </p><br>


<img class="equation" src="~/Images/equation.png" alt="not able to load picture"/>



<h5><br>Typical coancestries between relatives are as follows:</h5> 
<p> Father/daughter, mother/son → 25% (1⁄4)<br>
    brother/sister → 25% (1⁄4)<br>
    Grandfather/granddaughter or grandmother/grandson → 12.5% (1⁄8)<br>
    Half-brother/half-sister, Double cousins → 12.5% (1⁄8)<br>
    Uncle/niece or aunt/nephew → 12.5% (1⁄8)<br>
    Great-grandfather/great-granddaughter or great-grandmother/great-grandson → 6.25% (1⁄16)<br>
    Half-uncle/niece or half-aunt/nephew → 6.25% (1⁄16)<br>
    First cousins → 6.25% (1⁄16)<br>
</p>
</div>    


     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>      
     </div>
       



