@model IEnumerable<ISIC_DATA.Models.DKDogs>
@{
    ViewBag.Title = "DKDogs";
}

<h2>DKDogs</h2>



<h2>Fimbulfamb top 10</h2>

<br>
<table class="ui-widget, Topp10">
    <thead class="ui-widget-header">

        <tr>
            <th>ID</th>
            <th>Name</th>
            
        </tr>

        @foreach (var item in Model)
        {
            <tbody class="ui-widget-content">
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    
                </tr>
            </tbody>
        }

</table>

