@model ISIC_DATA.Models.Dog

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Search information</h3>
</div>

<div style="padding: 15px; font-size: 12.5px">
<h5>Search information</h5>
<p>By default, this shows the newest dogs in the database, but you can search for any name, part of a name or Registration number and / or simply filter after countries.  Click on the name of the dog that you want to have a further look at.
Because this is an international database, there will always be a certain difficulty of finding country-specific letters. If Icelandic dogs are registered with letters Þ ð or æ it might be difficult finding them, but you can always search for part of the name. The same might apply to a hyphen (-), that has very often been used between Kennel and dog name in the past. 
</p><br>




</div>    


     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>      
     </div>
       



