@{
    ViewBag.Title = "About";
}

<div id="PageTitle">
    <h3>About the ISIC database</h3>
    <h4>Information about all you can think about connected to the Icelandic Sheepdog</h4>
</div>

<article>
        <div>         
        ....
    
        <h4 class="NewsTitle">About the ISIC countries</h4>
        <p>To get information about all the different ISIC countries...</p>
        </div>  
       
        <div>         
        ....
    
        <h4 class="NewsTitle">Information</h4>
        <p>Use this area to provide additional information....</p>
        </div>  
   
</article>

