@model IQueryable<ISIC_DATA.Models.Users>

@{
    ViewBag.Title = "Contact us";
}

<div class="container-fluid containerLeftMargin contact-details">

<h4>If you want to contact the super administrator to become an administrator for your country,  
    <br />please find the super administrator contact information on this site.</h4>

    <table border="0" cellpadding="0" cellspacing="0" width="99%">
	<tbody style="border:none;">
        
        <tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
		</tr>
       <tr>
            
			<td align="left" valign="top"><h3><strong>Super Admin</strong></h3></td>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" height="30" style="text-align:right;" valign=" bottom">
				
		</tr>	
		<tr>
			<td>
				 <p>Guðni Ágústsson<br />
                    Brúnastöðum 36 <br />
                    112 Reykjavík<br />
				  Email: <a href="mailto:isey@hive.is">isey@hive.is</a> <br />
				</p>
				
			</td>
		<tr>
			<td align="left" valign="top" width="33%">&nbsp;</td>
			<td align="left" valign="top" width="33%">&nbsp;</td>
			<td align="left" valign="top" width="33%">&nbsp;</td>
		</tr>	
	</tbody>
</table>


<h4>If you want to contact the administration for requests, ideas or any additional data to publish, 
    <br />please find the contact person in your country on this site.</h4>

<table border="0" cellpadding="0" cellspacing="0" width="99%">
	<tbody style="border:none;">
        
        <tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
		</tr>
       <tr>
            
			<td align="left" valign="top"><h3><strong>Scandinavia</strong></h3></td>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" height="30" style="text-align:right;" valign=" bottom">
				
		</tr>	
		<tr>
			<td>
				<p><strong><strong>Iceland</strong></strong></p>
				<p>Guðni Ágústsson<br />
				  Email: <a href="mailto:isey@hive.is">isey@hive.is</a> <br />
				</p>
				
			</td>
			<td align="left" valign="top" width="33%">
				<p><strong>Finland</strong></p>
				<p>Anne Vaskio<br />
				   Email: <a href="mailto:anne.vaskio@gmail.com">anne.vaskio@gmail.com  </a> <br />
			</td>
			<td align="left" valign="top"><p><strong>Denmark</strong></p>
		    <p>Else Westermann   <br />
           Email: <a href="mailto:westmann@post12.tele.dk">westmann@post12.tele.dk</a> <br />
		   </td>
		</tr>
		<tr>
			<td align="left" valign="top" width="33%">&nbsp;</td>
			<td align="left" valign="top" width="33%">&nbsp;</td>
			<td align="left" valign="top" width="33%">&nbsp;</td>
		</tr>
		<tr>
            <td align="left" valign="top"><p><strong>Denmark</strong></p>
		    <p>Jörgen Metzdorff<br />
           Email: <a href="mailto:jorgen@metzdirff.net">jorgen@metzdorff.net</a> <br />
		   </td>
			<td align="left" valign="top">
				<p><strong>Sweden</strong></p>
				<p>May Britt Sannerholt<br />	
				   Email: <a href="mailto:avel@islandshunden.sek">avel@islandshunden.se</a> <br />
					
			</td>
			<td align="left" valign="top" width="33%">
				<p><strong>Norway</strong></p>
				<p>
					Lill-Hege Nygaard <br />
                    Email: <a href="mailto:lh.nygaard@online.no">lh.nygaard@online.no</a> <br />
					
			</td>
			<td align="left" valign="top" width="33%">&nbsp;
				</td>
		</tr>
		<tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
		</tr>
         <tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
		</tr>
		<tr>
            
			<td align="left" valign="top"><h3><strong>Europe (Mainland)</strong></h3></td>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" height="30" style="text-align:right;" valign=" bottom">
				
		</tr>
				
		<tr>
			<td align="left" valign="top">
				<p><strong>Austria</strong></p>
				<p> Susanne E. Götzinger  <br />
				<p style="padding-bottom:0; margin-bottom:0;">Email: <a href="mailto: susanne@ulfur.net"> susanne@ulfur.net</a> <br />
				
			</td>
			<td align="left" valign="top">
				<p><strong>Germany</strong></p>
				<p>Susanne Schütte <br />
				   Email: <a href="mailto:Susanne-Schuette@t-online.de">Susanne-Schuette@t-online.de</a> <br />
			</td>
			<td align="left" valign="top">
				<p><strong>Netherlands</strong></p>
				<p>Helma van Rijswijk<br />
				   Email: <a href="mailto:t.rijswijk@chello.nl">t.rijswijk@chello.nl</a> <br />
					
			</td>
		</tr>
        <tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
		</tr>
		<tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" height="30" style="text-align:right;">				
		</tr>		
	    <tr>
		    <td align="left" valign="top"><h3><strong>North America</strong></h3></td>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
		</tr>
		<tr>
			<td align="left" valign="top">
				<p><strong>USA</strong></p>
				<p>Terry Warnock<br />
				   Email: <a href="mailto:isaabrcc@gmail.com">isaabrcc@gmail.com</a> <br />
			</td>
			
			<td align="left" valign="top">&nbsp;
				</td>
		</tr>
				
	</tbody>
</table>

</div>
