@using BootstrapSupport
@model ISIC_DATA.Models.Dog
@{
    ViewBag.Title = "Home";
}

    <section id ="carousel">
       <div class="row">
           <div class="span12 columns">
               <div id ="myCarousel" class="carousel slide">
                   <div class="carousel-inner">
                       <div class="item active">
                           <img src="~/HomePhotos/1.jpg" >
                                <div class="carousel-caption">
                                    <h4>Label</h4>
                                    <p>Some text</p>
                                </div>
                        </div>
                        <div class="item">
                            <img src="~/HomePhotos/2.jpg" >
                                <div class="carousel-caption">
                                    <h4>Label</h4>
                                    <p>Some text</p>
                                </div>
                        </div>
                       <div class="item">
                            <img src="~/HomePhotos/3.jpg" >
                                <div class="carousel-caption">
                                    <h4>Label</h4>
                                    <p>Some text</p>
                                </div>
                        </div>
                   </div>
                   <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                   <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
               </div>
            </div>
       </div>
   </section>
		
	<div class="row-fluid">
		<div class="span4">
            <h3>
				The ISIC database
			</h3>
			<p>
				This database is the collection of the registered Icelandic Sheepdogs from all 10 countries that are members of ISIC. 
                It gives the opportunity for breeders to test mates for their dogs and calculate inbreeding. <br /><br />
                For all others this website should help to enjoy and appreciate the Icelandic breed of an exceptional friendly, 
                extremly clever and lovable dog. <br /><br />
                If you are a breeder or own a dog please contact us if you would like to ask questions or add information or pictures.
			</p>
		</div>
		<div class="span4">
			<h3>
				Shortcuts
			</h3>
			<p>
				While under construction you can use the tabs on the navigation bar on the top of the page to get to the users vies.
                For other interesting views see the buttons below:
            </p>
            <p> <a class="btn" href="RegisterDog">Register Dog (Admin) »</a><br /><br />
                <a class="btn" href="Color">Color (Admin) »</a><br /><br />
                <a class="btn" href="Country">Countries (Admin) »</a><br /><br />
                <a class="btn" href="Dog">Dogs (Admin) »</a><br /><br />
            	<a class="btn" href="Litter">Litter (Admin) »</a><br /><br />
                <a class="btn" href="DetailedInfo">Health and Appearance (Admin) »</a><br /><br />
                List of existing breeders and owners<br /> (still need to split lists):<br />
				<a class="btn" href="Person">People (Admin) »</a><br /><br />
            </p>      		
		</div>
		 
        <div class="span4">
           <div class="thumbnail clearfix">
               <div class="ThumbnailPopularDogs"> 
                   <h3>
				        Popular Dogs
			       </h3>
                        @* Still to do: needs to be dynamic, not hardcoded*@
                         <p>
				            Kersins Garpur - IS08875/05
			            </p>
                        <p>
				           <img src="/Photos/IS0887505.jpg" alt="ALT NAME" class="img-rounded  pull-left " style ='margin-right:10px'>
                         </p>
			            <p>
				            <a class="btn" href="Dog/Details/10016">View more »</a>
			            </p>
                   </div>
             </div>
         </div>
	</div>


        
    @*   
    <div>
         Admin
         @if (Roles.IsUserInRole("Administrator"))
         {
             
             @Html.ActionLink("Register dogs", "Create", "Litter")
             @Html.ActionLink("Users", "Users", "Home")
         }
     </div>
    *@
      

