@{
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
           </div>
    </section>
}
<br>

 
    <div id="frettnr1">
        <h3 class="frett1">Welcome</h3>
        <h4 class="dags1">7.5.2013</h4>
        <img class="mynd1" src="~/Images/fimbulfamb.jpg" alt="not able to load picture"/>
        <p class="texti1"> Welcome to the ISIC Database web.......
        </p>
    </div>

    <div id="frettnr2">
        <h3 class="frett2">New Data</h3>
        <h4 class="dags2">10.10.2013</h4>
        <img class="mynd2" src="~/Images/tictactoe.jpg" alt="not able to load picture"/>
        <p class="texti2">.....
        </p>
    </div>
    