@{
    ViewBag.Title = "News";
 }

<div id="PageTitle">
    <h3>News</h3>
    <h4>Here you can see news and blogs from all of the ISIC countries</h4>
</div>

<article>
        <div>         
        ....
    
        <h5 class="dateNews">10.9.2013</h5>
        <h4 class="NewsTitle">Constructing Web and Database</h4>
        <p> We are coming closer to our goal, soon you will get all possible information 
            about the Icelandic Sheepdogs registered in all of the 10 ISIC countries.</p>
       </div>  
       
        <div>         
        ....
 
        <h5 class="dateNews">7.5.2013</h5>
        <h4 class="NewsTitle">Welcome</h4>
        <p> Welcome to the ISIC Database web.......</p>
        </div>

 
</article>
