@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>From here you get to all the editing pages</h3>


<p>            
                <a class="btn" href="Color">Edit or Create new Color»</a><br /><br />
                <a class="btn" href="Country">Edit or Create new Country»</a><br /><br />
               
            	<a class="btn" href="Litter">Edit Litter»</a><br /><br />
                <a class="btn" href="DetailedInfo">Edit Health and Appearance»</a><br /><br />
                
				<a class="btn" href="Person">Edit People»</a><br /><br />
            </p>      		