@model ISIC_DATA.Models.TestMateViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Inbreeding information</h3>
</div>
    
    The calucation for inbreeding we use the     <br>
    Wright's Coefficient of Inbreeding formula. <br>
    
    <br>
    Typical coancestries between relatives are as follows:<br>
    Father/daughter, mother/son or brother/sister → 25% (1⁄4)<br>
    Grandfather/granddaughter or grandmother/grandson → 12.5% (1⁄8)<br>
    Half-brother/half-sister, Double cousins → 12.5% (1⁄8)<br>
    Uncle/niece or aunt/nephew → 12.5% (1⁄8)<br>
    Great-grandfather/great-granddaughter or great-grandmother/great-grandson → 6.25% (1⁄16)<br>
    Half-uncle/niece or half-aunt/nephew → 6.25% (1⁄16)<br>
    First cousins → 6.25% (1⁄16)<br>
      


     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>      
     </div>
       



