  body {
            padding-top: 15px;
            padding-bottom: 40px;
            padding-left: 40px;
            padding-right: 40px;
          }

.navbar-inverse .brand
{
    width: 122px;
    height: 74px;
}

.navbar .nav > li > a
{
    padding: 27px 25px;
}

 .navbar-inverse .brand, .navbar-inverse .nav > li > a
{  
    font-weight: bold; 
    font-size: 18px;
}

 .navbar .nav>li 
{
    float: left;
}



