/*padding needed for all in the body*/
body {
            padding-top: 15px;
            padding-bottom: 40px;
            padding-left: 40px;
            padding-right: 40px;
      }

/*padding to get the pic in the home page right*/
.hero-unit
{
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}

/*Adjustments to p on thumbnails on Home*/
.span4 > p
{
    padding-left: 15px;
    padding-right: 15px;
    margin: 15px;
}
.span4 > h3
{
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
}
/*Adjustments Dog Detail thumbnail on Home*/
.thumbnail>img 
{
 float:left;
 margin-left: 15px;
 margin-bottom: 10px;
}

thumbnail , p
{
    margin-left: 15px;
}
thumbnail ,h3
{
    margin-left: 15px;
}

/*padding needed for the navigation bar*/
.navbar .nav > li 
{
    float: left;
}
.navbar .nav > li > a
{
    padding: 27px 25px;
}
 .navbar-inverse .brand
 {
    width: 122px;
    height: 74px;
 }
  .navbar-inverse .nav > li > a
    {  
        font-weight: bold; 
        font-size: 18px;
    }




